[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/agherasi
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/agherasi
	label-Verified = -1..+1 group user/agherasi
	push = group user/agherasi
	read = group user/agherasi
	rebase = group user/agherasi
	removeReviewer = group user/agherasi
	submit = group user/agherasi
[access "refs/heads/*"]
	create = group user/agherasi
	push = +force group user/agherasi
	pushMerge = group user/agherasi
	read = group user/agherasi
[access "refs/tags/*"]
	push = group user/agherasi
	push = +force group user/agherasi
